allow-scripts=@agxnte/reidx,reidverse-cli,classcat,code-excerpt,colorette,core-js,esbuild,eventsource,express-rate-limit,koffi,onnxruntime-common,patch-console,protobufjs,rc-collapse,rc-input-number,rc-menu,react-zoom-pan-pinch,react-rnd,steno,stylis,tabbable,tar,swr,ts-md5,uuid,@alcalzone/ansi-tokenize,@monaco-editor/loader,@parcel/watcher,@rc-component/checkbox,@rc-component/color-picker,@rc-component/collapse,@rc-component/drawer,@rc-component/dialog,@rc-component/input-number,@rc-component/mentions,@rc-component/notification,@rc-component/mutate-observer,@rc-component/pagination,@rc-component/picker,@rc-component/progress,@rc-component/rate,@rc-component/segmented,@rc-component/steps,@rc-component/table,@rc-component/tour,@rc-component/switch,@rc-component/tooltip,@rc-component/tree-select,@rc-component/tabs,@swc/core,signal-exit
